@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

/* Basic Setup */
html,body {
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
  font-family: 'roboto';
}

/* Header */
.alram {
  background-color: #D98236;
  color: white;
  text-align: center;
}

header {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/nathan-fertig-scbYOgVyb8Q-unsplash.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/nathan-fertig-scbYOgVyb8Q-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50vh;
  background-attachment: fixed;
}

.cart-num {
  color: white;
}

/* Header Font */
h1 {
  font-family: 'Courgette';
  font-size: 3em;
  text-align: center;
  color: #D98236;
}

h2 {
  font-size: 2rem;
  text-align: center;
  color: #F2F2F2;
}

/* Drop-down Menu */
.dropdown {
  padding: 0 1em;
  overflow: hidden;
  margin: 0 auto;
  padding: 1em;
}

.dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  float: right;
}

.navigation {
  margin: 1em 0em;
  text-align: right;
}

.navigation ul {
  list-style: none;
}

.inside-menu {
  padding: 0;
  margin: 0;
  display: none;
}

.inside-menu li {
  line-height: 1.5;
}

.inside-menu a {
  color:white;
  text-decoration: none;
  text-align: center;
}

.inside-menu.open {
  display: block;
}

/* Search Bar */
.searchbox {
  margin-top: 5em;
  text-align: center;
}

input[type=text] {
  width: 20em;
  box-sizing: border-box;
  border: 2px solid #D98236;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}

/* Filter */
.filters {
  margin: 2em 0;
  text-align: center;
  position: relative;
}

.menu {
  overflow: auto;
  white-space: nowrap;
}

label {
  font-size: 1.4rem;
  font-family: 'Fredoka One', cursive;
  color: #D98236;
}

.sort {
  position: absolute;
  top: 33.8em;
  right: 0;
  margin-right: 19em;
}

.brand-filter, .scent-filter {
  margin-bottom: 2em;
  background-color: #f4f4f4;
}

.numResults {
  font-size: 2em;
  font-family: 'Courgette';
  color: #252625;
  margin: 2em;
}

.brands {
  width: 10em;
  height: 10em;
}

.kvd {
  content: url('../img/logo/Brand/kbd.jpg');
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.vr {
  content: url('../img/logo/Brand/vr.jpg');
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.ysl {
  content: url('../img/logo/Brand/ysl.jpg');
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.mm {
  content: url('../img/logo/Brand/mm.jpg');
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.jhag {
  content: url('../img/logo/Brand/jhag.jpg');
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.versace {
  content: url('../img/logo/Brand/versace.jpg');
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.mj {
  content: url('../img/logo/Brand/mj.jpg');
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.philosophy {
  content: url('../img/logo/Brand/philosophy.jpg');
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.jml {
  content: url('../img/logo/Brand/jml.jpg');
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.tf {
    content: url('../img/logo/Brand/tf.jpg');
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.mugler {
  content: url('../img/logo/Brand/mugler.jpg');
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.valentino {
  content: url('../img/logo/Brand/valentino.jpg');
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.scent {
  width: 9em;
  height: 9em;
}

.earthy {
  content: url('../img/logo/Scents/earthy.jpg');
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.floral {
  content: url('../img/logo/Scents/floral.jpg');
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.spicy {
  content: url('../img/logo/Scents/spicy.jpg');
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.warm {
  content: url('../img/logo/Scents/warm.jpg');
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.woody {
  content: url('../img/logo/Scents/woody.jpg');
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.fresh {
  content: url('../img/logo/Scents/fresh.jpg');
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

/* Products */

.grid {
  margin: 2em 12em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  justify-content: center;
}

.grid > article {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.grid > article img {
  max-width: 100%;
}

.grid .text {
  padding: 20px;
  text-align: center;
}

.grid .text h3 {
  font-size: 1.4rem;
  font-family: 'Fredoka One', cursive;
  color: #D98236;
}

.grid .text p {
  font-size: 0.9em;
}

.text-brand, .text-price {
  font-size: 1.5em;
  font-family: 'Courgette';
}

/* Add to Cart btn */
.btn {
  padding: 4px 14px;
  background-color: #D98236;
  color: white;
  border-radius: 4px;
  text-transform: case;
  float: center;
  margin: 5px 0;
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;
  font-family: 'Courgette', cursive;
}

.btn:hover {
  color: rgb(41, 45, 56);
}

/* Media Query */
@media only screen and (max-width: 800px) {
  .brands {
    width: 8em;
    height: 8em;
  }
  .scent {
    width: 7em;
    height: 7em;
  }
}

/* Footer */
footer {
  background-color: #252625;
  color: white;
  line-height: 1.5;
}
footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: underline;
}

footer li {
  list-style: none;
}

.ft-title {
  color: #fff;
  font-family: "Courgette", serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}

/* Sticks footer to bottom */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  flex: 1;
}

/* Footer main */
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 29.8125rem /* 477px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 77.5rem /* 1240px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}

/* Footer main | Newsletter form */
.email {
  text-align: center;
}

input[type="email"] {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}
input[type="submit"] {
  background-color:#D98236;
  color: #F2F2F2;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}
/* Footer social */
.ft-social {
  padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 1.25rem;
  
}
.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
  list-style: none;
}
/* Footer legal */
.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: #f7f7f7;
  color: black;
}

.ft-legal a {
  color: black;
}

.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
    flex: 1;
}